.clearfix
  %label{:for => "name"} List Name
  .input
    %input.span8.input.name{:name => "name", :value => @list.name}
.clearfix
  %label{:for => "notes"} Notes
  .input
    %textarea.span8.notes{:rows => 4, :name => "notes"}= @list.notes
