body {
  padding-top:60px;
}

.item {
  min-height:12px;
  cursor:default;
  padding:2px 0 3px 25px;
  -moz-border-radius:10px;
  border-radius:10px;
  border:1px solid #fff;
  
  form {
    margin:0;
  }
}

.item:hover {
  border-color:#96e9fc;
}

.item.selected {
  background:#e1f7fc;
}

li {
  list-style-type:circle;
}

#app ul {
  margin:0 0 0 1em;
  padding:0;
}

#app ul ul {
  margin-left:20px;
}

#app ul.item-list {
  margin-left:0;
  margin-top:1em;
}

#app li {
  list-style-type:none;
  position:relative;
  padding:0;
}

#app input[type=checkbox] {
  position:absolute;
  left:5px;
  top:3px;
}

#app input[type=checkbox]:checked {
  opacity:0.3;
}

#app li form input {
  width:97%;
  background:#fff;
  border:2px solid #96e9fc;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  padding:0 2px 2px 5px;
  -moz-border-radius:8px;
  border-radius:8px;
  outline:none;
}

.complete {
  font-style:italic;
  color:#ddd;
  background:white;
}

.story {
  background:#f9eed5;
}

.discussion, .question {
  background:#f5ffe8;
}

h2.completed {
  margin-top:15px;
  padding-top:15px;
  border-top: 2px solid #ddd;
  font-weight:normal;
}

.utility {
  float:right;
}

/*commands*/
#commands tr td:first-child {
  text-align:right;
  @extend .span4;
}

#delete {
  display:none;
}

.clear {
  clear:both;
}

/* sign in */
#sign-in {
  float:left;
  margin-right:20px;
  padding-right:20px;
  border-right:2px solid #eee;
}

#sign-up {
  float:left;
  width:500px;
}


.key {
  background:#fafafa;
  padding:0 5px;
  -moz-border-radius:5px;
  border-radius:5px;
  border:1px solid #ccc;
  font-family:monospace;
}

#commands {
  margin-top:1em;
  padding-top:1em;
  border-top:2px solid #eee;
}

#list h1:hover {
  background:#e1f7fc;
}

.container-fluid .sidebar {
  margin-left:-20px;
  margin-top:-20px;
  width:240px;
  
  .organizer {
    padding-left:20px;
    padding-top:20px;
    background:#fafafa;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
    
    ul.lists {
      margin:0;
      padding:0;
      
      li {
        list-style:none;
        list-style-position:inside;
        
        a {
          display:block;
          margin-left:-20px;
          padding:5px 20px;
          color:#666;
          border:1px solid #fafafa;
          border-left-style:none;
          border-right-style:none;
          
          &.selected, &:hover {
            @include vertical-gradient(#dedce3, #ceccd5);
            border:1px solid #b9b6c2;
            border-left-style:none;
            border-right-style:none;
            text-decoration:none;
          }
        }
      }
    }
  }
}