!!!
%html
  %head
    %title== Checklist Hub
    = stylesheet_link_tag 'application'
    = csrf_meta_tag
    %link{:rel => "icon", :type => "image/png", :href => "/assets/259-list.png"}
    
  %body#spare
    = yield